In [3]:
import pandas as pd
import polars as pl
import time
import numpy as np

Create DataFrame

In [45]:
data = {
    "Name":["Joyce", "Elena", "Judy", "Mindy"],
    "County": ["Taipei", "Taichung", "Yilan", "Tainan"],
    "Salary": [55000, 70000, 48000, 50000],
    "Job":["Data analyst", "ML engineer", "Servant", "Project Manager"]
}

In [46]:
pd_df = pd.DataFrame(data)
pl_df = pl.DataFrame(data)
print("================== Pandas ==================")
print(pd_df)
print()
print("================== Polars ==================")
print(pl_df)

================== Pandas ==================
    Name    County  Salary              Job
0  Joyce    Taipei   55000     Data analyst
1  Elena  Taichung   70000      ML engineer
2   Judy     Yilan   48000          Servant
3  Mindy    Tainan   50000  Project Manager

================== Polars ==================
shape: (4, 4)
┌───────┬──────────┬────────┬─────────────────┐
│ Name  ┆ County   ┆ Salary ┆ Job             │
│ ---   ┆ ---      ┆ ---    ┆ ---             │
│ str   ┆ str      ┆ i64    ┆ str             │
╞═══════╪══════════╪════════╪═════════════════╡
│ Joyce ┆ Taipei   ┆ 55000  ┆ Data analyst    │
│ Elena ┆ Taichung ┆ 70000  ┆ ML engineer     │
│ Judy  ┆ Yilan    ┆ 48000  ┆ Servant         │
│ Mindy ┆ Tainan   ┆ 50000  ┆ Project Manager │
└───────┴──────────┴────────┴─────────────────┘

取得前n筆及後n筆的資料

In [58]:
print("================== Pandas ==================")
print("* head function")
print(pd_df.head(2))
print()
print("* tail function")
print(pd_df.tail(2))
print()
print("================== Polars ==================")
print("* head function")
print(pl_df.head(2))
print()
print("* tail function")
print(pl_df.tail(2))

================== Pandas ==================
* head function
    Name    County  Salary           Job
0  Joyce    Taipei   55000  Data analyst
1  Elena  Taichung   70000   ML engineer

* tail function
    Name  County  Salary              Job
2   Judy   Yilan   48000          Servant
3  Mindy  Tainan   50000  Project Manager

================== Polars ==================
* head function
shape: (2, 4)
┌───────┬──────────┬────────┬──────────────┐
│ Name  ┆ County   ┆ Salary ┆ Job          │
│ ---   ┆ ---      ┆ ---    ┆ ---          │
│ str   ┆ str      ┆ i64    ┆ str          │
╞═══════╪══════════╪════════╪══════════════╡
│ Joyce ┆ Taipei   ┆ 55000  ┆ Data analyst │
│ Elena ┆ Taichung ┆ 70000  ┆ ML engineer  │
└───────┴──────────┴────────┴──────────────┘

* tail function
shape: (2, 4)
┌───────┬────────┬────────┬─────────────────┐
│ Name  ┆ County ┆ Salary ┆ Job             │
│ ---   ┆ ---    ┆ ---    ┆ ---             │
│ str   ┆ str    ┆ i64    ┆ str             │
╞═══════╪════════╪════════╪═════════════════╡
│ Judy  ┆ Yilan  ┆ 48000  ┆ Servant         │
│ Mindy ┆ Tainan ┆ 50000  ┆ Project Manager │
└───────┴────────┴────────┴─────────────────┘

取得某欄(行)資料

In [59]:
print("================== Pandas ==================")
print(pd_df['Salary']) ## type: Series
print()
print(pd_df.loc[:, 'Salary']) # Series
print()
print("================== Polars ==================")
print(pl_df.select('Salary')) # DataFrame
print()
print(pl_df.get_column('Salary')) # Series

================== Pandas ==================
0    55000
1    70000
2    48000
3    50000
Name: Salary, dtype: int64

0    55000
1    70000
2    48000
3    50000
Name: Salary, dtype: int64

================== Polars ==================
shape: (4, 1)
┌────────┐
│ Salary │
│ ---    │
│ i64    │
╞════════╡
│ 55000  │
│ 70000  │
│ 48000  │
│ 50000  │
└────────┘

shape: (4,)
Series: 'Salary' [i64]
[
	55000
	70000
	48000
	50000
]

取得某列資料

In [60]:
print("================== Pandas ==================")
print(pd_df.iloc[2]) #Series
print()
print(pd_df.loc[2]) #Series
print()
print("================== Polars ==================")
print(pl_df.row(2))
print(pl_df.row(2, named = True))

================== Pandas ==================
Name         Judy
County      Yilan
Salary      48000
Job       Servant
Name: 2, dtype: object

Name         Judy
County      Yilan
Salary      48000
Job       Servant
Name: 2, dtype: object

================== Polars ==================
('Judy', 'Yilan', 48000, 'Servant')
{'Name': 'Judy', 'County': 'Yilan', 'Salary': 48000, 'Job': 'Servant'}

取得特定位置的值

In [11]:
print("================== Pandas ==================")
print(pd_df.iat[1,1])
print("================== Polars ==================")
print(pl_df.item(1,1))

================== Pandas ==================
Taichung
================== Polars ==================
Taichung

篩選資料

In [18]:
print("================== Pandas ==================")
multi_filter_pd_df = pd_df[(pd_df.Salary <= 50000) & (pd_df.County == "Tainan")]
print(multi_filter_pd_df)
print()
print("================== Polars ==================")
multi_filter_pl_df = pl_df.filter((pl.col("Salary") <= 50000) & (pl.col("County") == "Tainan"))
print(multi_filter_pl_df)

================== Pandas ==================
    Name  County  Salary              Job
3  Mindy  Tainan   50000  Project Manager

================== Polars ==================
shape: (1, 4)
┌───────┬────────┬────────┬─────────────────┐
│ Name  ┆ County ┆ Salary ┆ Job             │
│ ---   ┆ ---    ┆ ---    ┆ ---             │
│ str   ┆ str    ┆ i64    ┆ str             │
╞═══════╪════════╪════════╪═════════════════╡
│ Mindy ┆ Tainan ┆ 50000  ┆ Project Manager │
└───────┴────────┴────────┴─────────────────┘

新增DataFrame資料

In [52]:
print("================== Pandas ==================")
pd_df2 = pd.DataFrame({
    "Name": ["Marcus"],
    "County": ["Taipei"],
    "Salary": [60000],
    "Job": ["Survey Engineer"]
})
new_pd_df = pd.concat([pd_df, pd_df2])
print(new_pd_df)
print()
print("================== Polars ==================")
pl_df2 = pl.DataFrame({
    "Name": "Marcus",
    "County": "Taipei",
    "Salary": 60000,
    "Job": "Survey Engineer"
})
new_pl_df = pl.concat([pl_df, pl_df2])
print(new_pl_df)

================== Pandas ==================
     Name    County  Salary              Job
0   Joyce    Taipei   55000     Data analyst
1   Elena  Taichung   70000      ML engineer
2    Judy     Yilan   48000          Servant
3   Mindy    Tainan   50000  Project Manager
0  Marcus    Taipei   60000  Survey Engineer

================== Polars ==================
shape: (5, 4)
┌────────┬──────────┬────────┬─────────────────┐
│ Name   ┆ County   ┆ Salary ┆ Job             │
│ ---    ┆ ---      ┆ ---    ┆ ---             │
│ str    ┆ str      ┆ i64    ┆ str             │
╞════════╪══════════╪════════╪═════════════════╡
│ Joyce  ┆ Taipei   ┆ 55000  ┆ Data analyst    │
│ Elena  ┆ Taichung ┆ 70000  ┆ ML engineer     │
│ Judy   ┆ Yilan    ┆ 48000  ┆ Servant         │
│ Mindy  ┆ Tainan   ┆ 50000  ┆ Project Manager │
│ Marcus ┆ Taipei   ┆ 60000  ┆ Survey Engineer │
└────────┴──────────┴────────┴─────────────────┘

組成群組及聚合函數

In [29]:
print("================== Pandas ==================")
group = new_pd_df.groupby(['County']) 
print(group.get_group('Taipei'))
print()
print(group['Salary'].aggregate(['min', 'max', 'mean', 'median']))
print()
print("================== Polars ==================")
group_pl_df = new_pl_df.groupby('County').agg([pl.col('Salary').min().alias("min"), pl.col('Salary').max().alias("max")
                                               ,pl.col('Salary').mean().alias("mean"), pl.col('Salary').median().alias("median")
                                               ])
print(group_pl_df)

================== Pandas ==================
     Name  County  Salary              Job
0   Joyce  Taipei   55000     Data analyst
0  Marcus  Taipei   60000  Survey Engineer

            min    max     mean   median
County
Taichung  70000  70000  70000.0  70000.0
Tainan    50000  50000  50000.0  50000.0
Taipei    55000  60000  57500.0  57500.0
Yilan     48000  48000  48000.0  48000.0

================== Polars ==================
shape: (4, 5)
┌──────────┬───────┬───────┬─────────┬─────────┐
│ County   ┆ min   ┆ max   ┆ mean    ┆ median  │
│ ---      ┆ ---   ┆ ---   ┆ ---     ┆ ---     │
│ str      ┆ i64   ┆ i64   ┆ f64     ┆ f64     │
╞══════════╪═══════╪═══════╪═════════╪═════════╡
│ Tainan   ┆ 50000 ┆ 50000 ┆ 50000.0 ┆ 50000.0 │
│ Yilan    ┆ 48000 ┆ 48000 ┆ 48000.0 ┆ 48000.0 │
│ Taichung ┆ 70000 ┆ 70000 ┆ 70000.0 ┆ 70000.0 │
│ Taipei   ┆ 55000 ┆ 60000 ┆ 57500.0 ┆ 57500.0 │
└──────────┴───────┴───────┴─────────┴─────────┘

對某欄的值進行計算或處理

In [53]:
print("================== Pandas ==================")
new_pd_df["Salary"], new_pd_df["County"] = new_pd_df["Salary"].apply(lambda x: x * 1.5), new_pd_df["County"].apply(lambda x: x + " City")
print(new_pd_df[["Salary", "County"]])
# print(new_pd_df.apply(lambda t: (int(t[2]) * 1.5, t[1] + " City")))
print()
print("================== Polars ==================")
print(new_pl_df.apply(lambda t: (t[2] * 1.5, t[1] + " City")))

================== Pandas ==================
     Salary         County
0   82500.0    Taipei City
1  105000.0  Taichung City
2   72000.0     Yilan City
3   75000.0    Tainan City
0   90000.0    Taipei City

================== Polars ==================
shape: (5, 2)
┌──────────┬───────────────┐
│ column_0 ┆ column_1      │
│ ---      ┆ ---           │
│ f64      ┆ str           │
╞══════════╪═══════════════╡
│ 82500.0  ┆ Taipei City   │
│ 105000.0 ┆ Taichung City │
│ 72000.0  ┆ Yilan City    │
│ 75000.0  ┆ Tainan City   │
│ 90000.0  ┆ Taipei City   │
└──────────┴───────────────┘

計算某欄位各個值的個數

In [57]:
print("================== Pandas ==================")
print(new_pd_df.value_counts("County"))
print()
print("================== Polars ==================")
print(new_pl_df.select(pl.col("County").value_counts(sort=True)))

================== Pandas ==================
County
Taipei City      2
Taichung City    1
Tainan City      1
Yilan City       1
Name: count, dtype: int64

================== Polars ==================
shape: (4, 1)
┌────────────────┐
│ County         │
│ ---            │
│ struct[2]      │
╞════════════════╡
│ {"Taipei",2}   │
│ {"Taichung",1} │
│ {"Yilan",1}    │
│ {"Tainan",1}   │
└────────────────┘